# 100L30D

Solving 100 Leetcode problems in 30 days.

In [528]:
from typing import List
import pandas as pd
import sqlite3
import re
import io
import math
import collections
import itertools
import functools
import random

conn = sqlite3.connect(":memory:")

def regexp(expr, item):
    reg = re.compile(expr)
    return reg.search(item) is not None
    
conn.create_function("REGEXP", 2, regexp)

# 1. 
Date: 20th Dec 2023<br>
Easy Leetcode: Unique Morse Words<br>
Solution: https://leetcode.com/problems/unique-morse-code-words/submissions/1124312422/

In [529]:
class Solution:

    morse = [".-","-...","-.-.","-..",".","..-.","--.","....","..",".---","-.-",".-..","--","-.","---",".--.","--.-",".-.","...","-","..-","...-",".--","-..-","-.--","--.."]
    alphabets = [chr(i + ord('a')) for i in range(26)]
    mapping = dict(zip(alphabets, morse))

    @staticmethod
    def map_to_morse(word):
        
        if word in Solution.mapping:
            return Solution.mapping[word]

        result = Solution.mapping[word[0]] + Solution.map_to_morse(word[1:])
        Solution.mapping[word] = result
        return result

    def uniqueMorseRepresentations(self, words: List[str]) -> int:
        return len(set(map(Solution.map_to_morse, words)))

In [530]:
Solution().uniqueMorseRepresentations(["gin","zen","gig","msg"])

2

# 2.
Date: 20th Dec 2023<br>
Easy Leetcode: Pascals Triangle II<br>
Solution: https://leetcode.com/submissions/detail/1123808820/

In [531]:
class Solution:
    '''
    [1]
    [1, 1]
    [1, 2, 1]
    [1, 3, 3, 1]
    [1, 4, 6, 4, 1]
    [1, 5, 10, 10, 5, 1]
    [1, 6, 15, 20, 15, 6, 1]
    [1, 7, 21, 35, 35, 21, 7, 1]

    n_rows = index + 1

    '''

    def slideSum(lst: List[int]) -> List[int]:
        # Slide a window of size 2 over the list and return the list of sums
        assert len(lst) > 1, f"Minimum slide length is 2, got {len(lst)}"

        result = []
        for i in range(len(lst) - 1):
            result.append(lst[i] + lst[i + 1])
        return [1] + result + [1]

    def getRow(self, rowIndex: int) -> List[int]:
        
        assert rowIndex >= 0, f"Index cannot be negative, got {rowIndex}"

        if rowIndex == 0:
            return [1]
        elif rowIndex == 1:
            return [1, 1]
        else:
            prevRow = self.getRow(rowIndex - 1)
            return Solution.slideSum(prevRow)

In [532]:
Solution().getRow(10)

[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]

# 3.
Date: 21th Dec 2023<br>
Easy leetcode: find-total-time-spent-by-each-employee<br>
Solution: https://leetcode.com/problems/find-total-time-spent-by-each-employee/submissions/1124667523/

```sql
# Write your MySQL query statement below
with temp as (
    select 
        e.*, (e.out_time - e.in_time) total_time 
    from employees e
)

select 
    t.event_day as day, t.emp_id, sum(t.total_time) total_time 
from temp t
group by t.emp_id, t.event_day;
```

# 4. 
Date: 21th Dec 2023<br>
Easy Leetcode: sum-of-all-odd-length-subarrays<br>
Solution: https://leetcode.com/problems/sum-of-all-odd-length-subarrays/submissions/1124679524/

In [533]:
class Solution:
    def slide(arr: list[int], window: int):
        assert window <= len(arr), "Window size must be less than the len of arr"
        result = curr_sum = sum(arr[:window])

        for i in range(len(arr) - window):
            start_idx_curr_window, end_idx_next_window = i, i + window
            curr_sum = curr_sum - arr[start_idx_curr_window] + arr[end_idx_next_window]
            result += curr_sum

        return result

    def sumOddLengthSubarrays(self, arr: list[int]) -> int:
        result = 0
        for i in range(1, len(arr) + 1, 2):
            result += Solution.slide(arr, window=i)

        return result

In [534]:
Solution().sumOddLengthSubarrays([1,4,2,5,3])

58

In [535]:
import math

class Solution:
    # https://leetcode.com/problems/sum-of-all-odd-length-subarrays/solutions/854184/java-c-python-o-n-time-o-1-space/
    
    def sumOddLengthSubarrays(self, arr: List[int]) -> int:
        result = 0
        n = len(arr)
        for i in range(0, n):
            k = (i + 1) * (n - i)
            result += arr[i] * math.ceil(k / 2)

        return result

# 5.
Date: 22th Dec 2023<br>
Easy Leetcode: maximum-score-after-splitting-a-string<br>
Solution: https://leetcode.com/problems/maximum-score-after-splitting-a-string/submissions/1125483525/

In [536]:
"""

Min possible score: 0 [10]
Max possible score: len(s) [01]

"""

class Solution:
    def maxScore(self, s: str) -> int:

        left_score, right_score  = 0, s.count("1")
        res = 0

        for ch in s[:-1]:
            if ch == "0":
                left_score += 1
            else:
                right_score -= 1

            curr = left_score + right_score
            if curr > res:
                res = curr

        return res

# 6. 
Date: 22th Dec 2023<br>
Easy Leetcode: kids-with-the-greatest-number-of-candies<br>
Solution: https://leetcode.com/problems/kids-with-the-greatest-number-of-candies/submissions/1125486579/

In [537]:
class Solution:
    def kidsWithCandies(self, candies: List[int], extraCandies: int) -> List[bool]:
        maxCandies = max(candies) 
        res = []
        for candies_with_kid_i in candies:
            if candies_with_kid_i + extraCandies >= maxCandies:
               res.append(True)
            else:
                res.append(False)
        return res

# 7.
Date: 22th Dec 2023<br>
Easy Leetcode: can-make-arithmetic-progression-from-sequence<br>
Solution (can be improved): https://leetcode.com/problems/can-make-arithmetic-progression-from-sequence/submissions/1125491514/

In [538]:
class Solution:
    def canMakeArithmeticProgression(self, arr: List[int]) -> bool:

        # Sort the array
        arr.sort()       

        diff = None
        for i in range(len(arr) - 1):
            curr = arr[i + 1] - arr[i]
            if diff is None:
                diff = curr
            elif diff != curr:
                return False
        return True

# 8. 
Date: 22nd Dec 2023<br>
Easy Leetcode: find-users-with-valid-e-mails<br>
Solution: https://leetcode.com/problems/find-users-with-valid-e-mails/submissions/1125507166/

In [539]:
temp = pd.read_csv(io.StringIO("""
    | user_id | name      | mail                    |
    | ------- | --------- | ----------------------- |
    | 1       | Winston   | winston@leetcode.com    |
    | 2       | Jonathan  | jonathanisgreat         |
    | 3       | Annabelle | bella-@leetcode.com     |
    | 4       | Sally     | sally.come@leetcode.com |
    | 5       | Marwan    | quarz#2020@leetcode.com |
    | 6       | David     | david69@gmail.com       |
    | 7       | Shapiro   | .shapo@leetcode.com     |
"""), sep="|").iloc[1:, 1:-1]

temp.columns = temp.columns.map(str.strip)
temp = temp.map(str.strip)
print(temp[temp['mail'].str.fullmatch('[A-Za-z][A-Za-z0-9\.\-\_]*\@leetcode\.com')])

# Write to DB & solve using SQL
temp.to_sql(name='temp', con=conn, index=False, if_exists='replace')
print(pd.read_sql("select * from temp u where u.mail REGEXP '^[a-zA-Z]+[a-zA-Z0-9-._]*\\@leetcode\\.com$'", con=conn))

  user_id       name                     mail
1       1    Winston     winston@leetcode.com
3       3  Annabelle      bella-@leetcode.com
4       4      Sally  sally.come@leetcode.com
  user_id       name                     mail
0       1    Winston     winston@leetcode.com
1       3  Annabelle      bella-@leetcode.com
2       4      Sally  sally.come@leetcode.com

# 9.

Date: 22nd Dec 2023<br>
Medium Leetcode: consecutive-numbers <br>
Solution: https://leetcode.com/problems/consecutive-numbers/submissions/1125892860/

In [540]:
temp = pd.read_csv(io.StringIO("""
+----+-----+
| id | num |
+----+-----+
| 1  | 1   |
| 2  | 1   |
| 3  | 1   |
| 4  | 2   |
| 5  | 1   |
| 6  | 2   |
| 7  | 2   |
+----+-----+
"""), sep="|", skiprows=2)

# Some cleaning
temp = temp.iloc[1:, 1:-1].dropna()
temp.columns = temp.columns.map(str.strip)

# Python iterative solution
def consecutive_numbers_py(logs: pd.DataFrame) -> pd.DataFrame:
    result = []
    resultSet = set()

    prev = None
    for num in logs['num'].values:
        if prev is None:
            prev = [num, 1]
        elif prev[0] == num:
            prev[1] += 1
        else:
            if prev[1] >= 3 and prev[0] not in resultSet:
                result.append(prev[0])
                resultSet.add(prev[0])
            prev = [num, 1]

    if prev is not None and prev[1] >= 3 and prev[0] not in resultSet:
        result.append(prev[0])
        resultSet.add(prev[0])

    return pd.DataFrame({"ConsecutiveNums": result})

# Pandas solution
def consecutive_numbers_df(logs: pd.DataFrame) -> pd.DataFrame:
    # Code starts here
    df = logs.copy()
    df['diff_1'] = df.groupby("num")["id"].diff()
    df['diff_2'] = df.groupby("num")["id"].diff(periods=2)
    df = df[(df['diff_1'] == 1) & (df['diff_2'] == 2)]['num'].rename("ConsecutiveNums").to_frame().drop_duplicates().reset_index(drop=True)
    return df

display(consecutive_numbers_py(temp))
display(consecutive_numbers_df(temp))

# SQL Solution
temp.to_sql("temp", con=conn, index=False, if_exists='replace')

pd.read_sql("""
with temp_1 as (
    select 
        t.id, 
        t.num, 
        t.id - lag(t.id, 1) over(partition by t.num order by t.id) as diff_1,
        t.id - lag(t.id, 2) over(partition by t.num order by t.id) as diff_2 
    from temp t
)

select distinct num ConsecutiveNums from temp_1 where diff_1 = 1 and diff_2 = 2
""", con=conn)

   ConsecutiveNums
0              1.0

   ConsecutiveNums
0              1.0

   ConsecutiveNums
0              1.0

# 10.

Date: 22nd Dec 2023<br>
Medium Leetcode: customers-who-never-order<br>
Solution: https://leetcode.com/problems/customers-who-never-order/submissions/1125909085/

#### SQL Solution:
```sql
select c.name Customers
from Customers c 
left join Orders o on c.id = o.customerId 
where o.id is Null
```

#### Pandas Solution:
```python
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    result = customers.loc[~customers['id'].isin(orders['customerId']), 'name'].to_frame()
    result = result.rename({"name": "Customers"}, axis=1)
    return resultn :`

# 11.

Date: 22nd Dec 2023<br>
Easy Leetcode: biggest-single-number<br>
Solution: https://leetcode.com/problems/biggest-single-number/submissions/1125925499/

```sql
with temp as (
    select num 
    from MyNumbers
    group by num 
    having count(num) = 1
)

select max(num) num from temp
```

In [541]:
def biggest_single_number(my_numbers: pd.DataFrame) -> pd.DataFrame:
    df = my_numbers.value_counts().sort_index()
    df = df[df == 1].iloc[-1:].index
    return df.to_frame() if len(df) else pd.DataFrame({"num": [None]})

# 12.

Date; 22nd Dec 2023<br>
Easy Leetcode: summary-ranges<br>
Solution: https://leetcode.com/problems/summary-ranges/submissions/1125948046/

In [542]:
class Solution:
    def summaryRanges(self, nums: List[int]) -> List[str]:
        
        result = []
        curr = []
        for num in nums:
                if not curr or curr[-1] == num - 1:
                    curr.append(num)
                else:
                    if len(curr) == 1:
                        result.append(str(curr[0]))
                    else:
                        result.append(f"{curr[0]}->{curr[-1]}")
                    curr = [num]

        # Residues remain
        if len(curr) > 0:
            if len(curr) == 1:
                result.append(str(curr[0]))
            else:
                result.append(f"{curr[0]}->{curr[-1]}")

        return result

# 13.

Date: 23rd Dec 2023<br>
Easy Leetcode: number-of-good-pairs<br>
Solution: https://leetcode.com/problems/number-of-good-pairs/submissions/1126247596/

In [543]:
class Solution:
    def numIdenticalPairs(self, nums: List[int]) -> int:
        indices = dict()
        for i, num in enumerate(nums): 
            indices[num] = indices.get(num, 0) + 1

        result = 0
        for curr in indices.values():
            result += math.comb(curr, 2)
            
        return result

        # More concise solution from https://leetcode.com/problems/number-of-good-pairs/solutions/731561/java-c-python-count/
        return sum(math.comb(n, 2) for n in collections.Counter([1, 1, 1, 1]).values())

In [544]:
Solution().numIdenticalPairs([1,1,1,1])

6

# 14.
Date: 23rd Dec 2023<br>
Easy Leetcode: defanging-an-ip-address<br>
Solution: https://leetcode.com/problems/defanging-an-ip-address/submissions/1126251287/

In [545]:
class Solution:
    def defangIPaddr(self, address: str) -> str:
        # return address.replace(".", "[.]") 

        result = []
        for ch in address:
            if ch == ".":
                ch = "[.]"
            result.append(ch)

        result_str = ""
        for ch in result:
            result_str += ch

        return result_str

# 15.
Date: 23rd Dec 2023<br>
Medium Leetcode: encode-and-decode-tinyurl<br>
Solution: https://leetcode.com/problems/encode-and-decode-tinyurl/submissions/1126404991/

In [546]:
class Codec:

    def __init__(self, code_length=6):
        self.forward_mappings = dict()
        self.backward_mappings = dict()
        self.code_length = code_length

    def generate_code(self):
        code = None
        while code is None or code in self.forward_mappings:
            code = ''.join(random.choices('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWZYZ', k=self.code_length))
        return code

    def encode(self, longUrl: str) -> str:
        """Encodes a URL to a shortened URL.
        """
        
        if longUrl not in self.backward_mappings:
            code = self.generate_code()
            self.forward_mappings[code] = longUrl
            self.backward_mappings[longUrl] = code
        else:
            code = self.backward_mappings[longUrl]
            
        return f"https://tinyurl.com/{code}"

    def decode(self, shortUrl: str) -> str:
        """Decodes a shortened URL to its original URL.
        """
        code = shortUrl[-self.code_length:]
        if code in self.forward_mappings:
            return self.forward_mappings[code]
        else:
            return None
        
codec = Codec()
url = "https://leetcode.com/problems/design-tinyurl"
code = codec.encode(url)
print (code)
assert codec.decode(code) == url, "Don't seem to match"

https://tinyurl.com/FDuWdM

# 16.

Date: 23rd Dec 2023<br>
Easy Leetcode: subtract-the-product-and-sum-of-digits-of-an-integer<br>
Solution: https://leetcode.com/problems/subtract-the-product-and-sum-of-digits-of-an-integer/submissions/1126416675/

In [547]:
class Solution:
    def subtractProductAndSum(self, n: int) -> int:

        # Alternate solution
        nums = list(map(int, list(str(n))))
        s = functools.reduce(lambda x, y: x + y, nums, 0)
        p = functools.reduce(lambda x, y: x * y, nums, 1)
        return p - s

        # More efficient although has the same complexity
        s, p = 0, 1
        for ch in str(n):
            s += int(ch)
            p *= int(ch)
        return p - s

# 17.
Date: 23rd Dec 2023<br>
Medium Leetcode: remove-all-adjacent-duplicates-in-string-ii<br>
Solution: https://leetcode.com/problems/remove-all-adjacent-duplicates-in-string-ii/submissions/1126450574/

In [548]:
class Solution:
    """
    Example 1:
    "pbbcggttciiippooaais", k = 2
    "pcciis"
    "ps"
    
    Example 2:
    "deeedbbcccbdaa", k = 3
    "ddbbbdaa"
    "dddaa"
    "aa"
    """

    # Solution idea from: https://leetcode.com/problems/remove-all-adjacent-duplicates-in-string-ii/solutions/392933/java-c-python-two-pointers-and-stack-solution/

    def removeDuplicates(self, s: str, k: int) -> str:
        result = [['', 1]]
        for ch in s:
            if result[-1][0] == ch:
                result[-1][1] += 1
            else:
                result.append([ch, 1])
            if result[-1][1] == k:
                result.pop()
                
        return ''.join(map(lambda x: x[0] * x[1], result))

# Testing the solution
assert Solution().removeDuplicates("abcd", k=2) == 'abcd'
assert Solution().removeDuplicates("deeedbbcccbdaa", k=3) == 'aa'
assert Solution().removeDuplicates("pbbcggttciiippooaais", k=2) == 'ps'
assert Solution().removeDuplicates("abccba", k=2) == ''

# 18.
Date: 23rd Dec 2023<br>
Medium Leetcode: capital-gainloss<br>
Solution: https://leetcode.com/problems/capital-gainloss/submissions/1126487033/

In [549]:
temp = pd.read_csv(io.StringIO("""
+---------------+-----------+---------------+--------+
| stock_name    | operation | operation_day | price  |
+---------------+-----------+---------------+--------+
| Leetcode      | Buy       | 1             | 1000   |
| Corona Masks  | Buy       | 2             | 10     |
| Leetcode      | Sell      | 5             | 9000   |
| Handbags      | Buy       | 17            | 30000  |
| Corona Masks  | Sell      | 3             | 1010   |
| Corona Masks  | Buy       | 4             | 1000   |
| Corona Masks  | Sell      | 5             | 500    |
| Corona Masks  | Buy       | 6             | 1000   |
| Handbags      | Sell      | 29            | 7000   |
| Corona Masks  | Sell      | 10            | 10000  |
+---------------+-----------+---------------+--------+
"""), sep="|", skiprows=2).iloc[1:-1, 1:-1]

# Cleaning the data
temp.columns = temp.columns.map(str.strip)
temp = temp.map(lambda x: x.strip() if type(x) == str else x)

# Actual code startes here
_ = temp.groupby(['stock_name', 'operation'], as_index=False)['price'].sum()
_ = _.groupby('stock_name').apply(lambda x: x.iloc[1, 2] - x.iloc[0, 2]).reset_index()
_ = _.rename({0: 'capital_gain_loss'}, axis=1)
display(_)

# Using SQL
temp.to_sql("temp", if_exists='replace', con=conn, index=False)
pd.read_sql("""
with trade_sum as (
    select 
        stock_name, 
        operation, 
        sum(price) price
    from temp 
    group by stock_name, operation
),

buy as (
    select * from trade_sum t 
    where t.operation = 'Buy'
),

sell as (
    select * from trade_sum t 
    where t.operation = 'Sell'
)

select 
    s.stock_name, 
    (s.price - b.price) capital_gain_loss 
from buy b, sell s 
where b.stock_name = s.stock_name
""", con=conn)

     stock_name  capital_gain_loss
0  Corona Masks             9500.0
1      Handbags           -23000.0
2      Leetcode             8000.0

     stock_name  capital_gain_loss
0  Corona Masks             9500.0
1      Handbags           -23000.0
2      Leetcode             8000.0

# 19.
Date: 23rd Dec 2023<br>
Medium Leetcode: monthly-transactions-i<br>
Solution:

In [550]:
temp = pd.read_csv(io.StringIO("""
+-----+---------+----------+--------+------------+
| id  | country | state    | amount | trans_date |
| --- | ------- | -------- | ------ | ---------- |
| 121 | US      | approved | 1000   | 2018-12-18 |
| 122 | US      | declined | 2000   | 2018-12-19 |
| 123 | US      | approved | 2000   | 2019-01-01 |
| 124 | null    | approved | 2000   | 2019-01-07 |
+-----+---------+----------+--------+------------+
"""), sep="|", skiprows=2).iloc[1:-1, 1:-1]

temp.columns = temp.columns.map(str.strip)
temp = temp.map(lambda x: x.strip() if type(x) == str else x)
temp['amount'] = temp['amount'].astype(float)
temp['trans_date'] = pd.to_datetime(temp['trans_date'])

# Start with the actual code
_ = temp.copy()
_['month'] = _['trans_date'].dt.strftime("%Y-%m")
_ = _.groupby(['month', 'country', 'state'], as_index=False)['amount'].agg(['sum', 'count'])

_ = pd.merge(
    _.groupby(['month', 'country'], as_index=False)[['sum', 'count']].agg('sum'),
    _[_['state'] == 'approved'].groupby(['month', 'country'], as_index=False)[['sum', 'count']].agg('sum'),
    how='left',
    on=['month', 'country']
)

_ = _.fillna(0)
_ = _.rename({"count_x": "trans_count", "sum_x": "trans_total_amount", "sum_y": "approved_total_amount", "count_y": "approved_count"}, axis=1)
display(_[['month', 'country', 'trans_count', 'approved_count', 'trans_total_amount', 'approved_total_amount']])

# Write to Database for SQL
temp.to_sql("temp", if_exists='replace', index=False, con=conn)

# Write SQL Query
pd.read_sql(
'''
select 
    SUBSTR(t.trans_date, 0, 8) month,
    
    t.country,
    
    count(t.amount) trans_count,
    
    sum(
        CASE 
            WHEN t.state = 'approved' THEN 1
            ELSE 0
        END
    ) approved_count,
    
    sum(t.amount) trans_total_amount,
    
    sum(
        CASE 
            WHEN t.state = 'approved' THEN t.amount
            ELSE 0
        END
    ) approved_total_amount
    
from temp t
group by 1, t.country
'''
, con=conn)

,month,country,trans_count,approved_count,trans_total_amount,approved_total_amount
0,2018-12,US,2,1,3000.0,1000.0
1,2019-01,US,1,1,2000.0,2000.0
2,2019-01,null,1,1,2000.0,2000.0

,month,country,trans_count,approved_count,trans_total_amount,approved_total_amount
0,2018-12,US,2,1,3000.0,1000.0
1,2019-01,US,1,1,2000.0,2000.0
2,2019-01,null,1,1,2000.0,2000.0